aws_dinamic_resources/.terraform
aws_dinamic_resources/terraform.tfstate
aws_dinamic_resources/terraform.tfstate.backup
aws_dinamic_resources/.terraform.tfstate.lock.info
aws_dinamic_resources/provider.tf
aws_static_resources/.terraform
aws_static_resources/terraform.tfstate
aws_static_resources/terraform.tfstate.backup
aws_static_resources/.terraform.tfstate.lock.info
aws_static_resources/provider.tf
aws_static_resources/dockerrun.zip
.DS_Store